@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

/* resets */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-text-color: #183b56;
  --secondary-text-color: #577592;
  --accent-color: #2294ed;
  --accent-color-dark: #0061ad;
  --padding-inline-section: 20px;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--primary-text-color);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  color: var(--secondary-text-color);
  line-height: 1.8rem;
}

a {
  text-decoration: none;
  display: inline-block;
}

/* utility classes */

.container {
  padding-inline: var(--padding-inline-section);
  max-width: 1180px;
  margin-inline: auto;
  overflow: hidden;
}

.flex {
  display: flex;
  align-items: center;
}

.hover-links {
  color: var(--primary-text-color);
  cursor: pointer;
  transition: 0.2s ease-out;
}

.hover-links:hover {
  color: var(--accent-color);
}

.primary-btn {
  background-color: var(--accent-color);
  padding: 12px 24px;
  border-radius: 6px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s ease-out;
  color: white !important;
  text-align: center;
}

.primary-btn:hover {
  background-color: var(--accent-color-dark);
}

.secondary-btn {
  border: 0.01px solid var(--secondary-text-color);
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 6px;
  font-weight: 700;
  transition: 0.2s ease-out;
}

.secondary-btn:hover {
  border: 1.4px solid var(--accent-color);
}

/* Top Banner */

.top-banner {
  background-image: url("./assets/asset\ 29.png");
  background-size: 20rem;
  background-color: #e74694;
}

.banner-text {
  padding: 15px 20px;
  color: white;
  text-align: center;
  cursor: pointer;
}

/* Navbar */

.main-nav {
  justify-content: space-between;
  padding: 2rem 0;
  position: relative;
}

.company-logo img {
  width: 12rem;
}
.test {
  color: var(--primary-text-color);
  background-color: #ebf2fa;
  padding: 0.5rem 0.8rem;
  position: absolute;
  margin-top: -0.01rem;
  margin-left: 0.8rem;
  border-top-left-radius: 100rem;
  border-bottom-left-radius: 100rem;
}

.nav-toggle {
  font-size: 1.6rem;
}

.nav-links {
  flex-basis: 730px;
}

.nav-links ul {
  list-style: none;
  justify-content: end;
  gap: 1.6rem;
}
.nav-links li a {
  color: var(--primary-text-color);
}

.nav-toggle {
  display: none;
}

/* Hero section */

.hero {
  justify-content: center;
  gap: 30px;
}

.header-left {
  max-width: 40vw;
  padding: 0 6rem;
  /* margin-top: 6rem; */
  margin-left: 60px;
}

.header-left p {
  padding: 20px 0px;
}

.hero-btn {
  /* width: 8.6rem; */
  justify-content: center;
  margin: 10px 0;
}

.header-right img {
  height: 460px;
  width: 100%;
}

/* Company section */

.company-text {
  padding: 20px 0;
  font-weight: 700;
  justify-content: center;
  color: var(--primary-text-color);
  flex-direction: row;
}
.companies {
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}

.logo {
  height: 3rem;
}

.logo:nth-child(6) {
  height: 2rem;
}

/* Features section */

.features-section {
  padding: 80px var(--padding-inline-section) 0px;
  margin: 60px 0;
  background-image: url("./assets/asset\ 31.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 48rem;
}

.features-header {
  text-align: center;
}

.features-header a {
  margin-top: 10px;
}

.features-area {
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 20px;
  justify-content: space-between;
}

.features-card {
  flex-direction: column;
  gap: 20px;
  text-align: center;
  max-width: 30%;
}

.features-card img {
  height: 3rem;
}

/* big feature section */

.big-features-section {
  padding: 60px var(--padding-inline-section) 0;
  flex-wrap: wrap;
}

.big-feature-container {
  gap: 20px;
}

.feature-img img {
  /* width: 60%; */
  height: 28rem;
}

.feature-desc {
  flex-direction: column;
  align-items: flex-start;
}

/* examples section */

.example-header {
  text-align: center;
  margin-top: 40px;
}

.example-header h2 {
  margin-bottom: 20px;
}

.examples a:nth-child(2) {
  background-image: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)),
    url("./assets/asset\ 34.jpeg");
}
.examples a:nth-child(3) {
  background-image: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)),
    url("./assets/asset\ 35.jpeg");
}
.examples a:nth-child(4) {
  background-image: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)),
    url("./assets/asset\ 36.jpeg");
}

.examples {
  justify-content: space-between;
  margin-block: 30px;
  flex-wrap: wrap;
}

.examples a {
  transition: 0.2s ease-in-out;
  background-size: cover;
}

.examples a:hover {
  box-shadow: 0px 0px 10px rgb(139, 139, 139);
}

.examples img {
  width: 100%;
  border-radius: 6px;
}

.example {
  width: 23%;
  height: 300px;
  position: relative;
  background: #000;
  background-image: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)),
    url("./assets/asset\ 33.jpeg");
}

.example-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  color: white;
}

/* problem section */

.problem-section {
  background-color: #183b54;
  color: white;
}

.problem-header {
  margin-bottom: 10px;
}

.problem-head {
  margin-top: 10px;
}

.problems-nav ul {
  margin-left: 16px;
  flex-direction: column;
  margin-block: 30px;
  align-items: flex-start;
  gap: 30px;
}

.problems-nav a,
li {
  color: var(--secondary-text-color);
}

.problem-left {
  justify-content: flex-start;
}

.problem-right {
  align-items: flex-start;
  /* padding-left: 1rem; */
}

/* cta section */

.cta-section {
  text-align: center;
  padding: 80px 0;
}

.cta-header h2 {
  margin-bottom: 50px;
  font-size: 2.4rem;
}

.cta-text {
  margin-bottom: 40px;
}

/* footer section */

footer {
  background-color: #ebf2fa;
  padding-block: 40px;
}

.link-col {
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.link-col h4 {
  margin-bottom: 10px;
  font-size: 20px;
}

.link-col a {
  color: var(--secondary-text-color);
}

.footer-container {
  align-items: flex-start;
  justify-content: space-between;
}

/* sub-footer section */

.sub-footer {
  background-color: #b9cde4;
  padding: var(--padding-inline-section);
}

.sub-link {
  color: var(--secondary-text-color);
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.sub-link img {
  height: 16px;
}

.social {
  justify-content: center;
  gap: 20px;
  margin-left: 60px;
}
